<div class="order-book">
  <div class="order-book__container">
    <div class="order-book__container--header">
      <h2>Order Book</h2>
    </div>
    <div class="order-book__title">
      <div class="">
        <span font-size="small" class="order-book__item">Price</span>
      </div>
      <div class="">
        <span font-size="small" class="">Market Size</span>
      </div>
    </div>
    <div class="order-book__common-viewport">
      <div class="order-book__viewport">
        <div *ngFor="let buy of itemsBuy$ | async | sortBy: 'desc' : 'price'; trackBy: trackByIdx"
             class="order-book__viewport--item">
          <pre>{{buy | stringifyItem }}</pre>
        </div>
      </div>
      <hr />
      <div class="order-book__viewport">
        <div *ngFor="let sell of itemsSell$ | async | sortBy: 'desc' : 'price'; trackBy: trackByIdx"
             class="order-book__viewport--item">
          <pre>{{sell | stringifyItem }}</pre>
        </div>
      </div>
    </div>
</div>
</div>


